<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>experiences.</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<link href="/img/page.css" rel="stylesheet" type="text/css">
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark text-center padding">
    
        <a class="navbar-brand text-center" href="#">experiences. x Barcelona</a>
    
    </nav>

    <div id="slides" class="carousel slide col-12" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#slides" data-slide-to="0" class="active"></li>
            <li data-target="#slides" data-slide-to="1"></li>
            <li data-target="#slides" data-slide-to="2"></li>
            <li data-target="#slides" data-slide-to="3"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="img/n1.png">
            </div>
            <div class="carousel-item">
                <img src="img/n2.png">
            </div>
            <div class="carousel-item">
                <img src="img/n3.png">
            </div>
            <div class="carousel-item">
                <img src="img/n4.png">
            </div>
        </div>
    </div>


    <div class="col-12">
        <hr class="display-4">
    </div>


    <div class="container-fluid">
        <div class="row jumbotron">
            <div class="row welcome text-center">
                <div class="col-12">
                    <h1 id="a" class="display-4">Camp Nou</h1>
                    <hr>
                </div>

                <div class="col-12">
                    <p class="lead">
                        Built in 1957, the Camp Nou is one of the most beautiful stadiums in the whole world. For FC Barcelona
                        fans, it truly is heaven on earth. Capable of housing about a hundred thousand spectators, this stadium 
                        has an aura of its own. Amongst the so many prestigious football stadiums across Europe, the Camp Nou
                        holds a special place, filled with magic and wonder.
                    </p>        
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container-fluid padding">
            
        
            <div class="row text-center">
        
                <div class="col-12">
                    <h5>Made with &hearts; by Aditya Rajan</h5>
                </div>
            </div>
    
        </div>
    </footer>
    
</body>
</html>